<section class="footer">
    <div class="footer__content">
    <div class="title">Do You Have an APP Idea?</div>
    <div class="copy">
        <div class="email-copy">Drop me an email on hello&#64;mamelloeng.tech</div>
        <div class="text-breaker">OR</div>
        <span>Find me on social media:</span>
        <div class="social-links">
            <a href="https://instagram.com/mamelloeng" target=”_blank” class="instagram"><i
                class="fa fa-instagram"></i></a>
            <a href="https://www.x.com/mamelloeng" class="fa fa-twitter"></a>
        </div>
    </div>
    </div>
    <div class="copyright">
      <div class="text">&#64;mamelloeng2025</div>  
    </div>
    </section>