<section class="process-section">
  <div class="header">Consultation & Process</div>
  <div class="pricing-section">
    <div class="pricing">Consultation Cost: R550p/h</div>
    <h3>What is the difference between consultation & briefing session?</h3>
    <p>The main goal of a consultation is to offer specialized advice and insights on a particular issue, project, or objective. It's usually centered around finding solutions and making decisions. On the other hand, a briefing is all about sharing information, updates, or instructions to ensure that the team or client stays in the loop.</p>
  </div>
</section>
