<section class="process-section">
  <div class="header">Consultation & Process</div>
  <div class="pricing-section">
    <div class="pricing">Consultation Cost: R550p/h</div>
    <h3>What is the difference between consultation & briefing session?</h3>
    <p>Phasellus vel iaculis ipsum, vitae consectetur diam. Suspendisse tristique urna nec elementum ullamcorper. Nullam
      quis n</p>
  </div>
  <div class="process-section">
    <div class="process-header">
      Process to your dream business
    </div>
    <div class="process-steps">
      <div class="process-step">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>Discovery Call</p>
      </div>
      <div class="process-step">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>Discovery Call</p>
      </div>
      <div class="process-step">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
        <p>Discovery Call</p>
      </div>
    </div>
  </div>
</section>
