<section class="banner">
  <div class="banner__copy">
    <div class="heading">Product Designer focused on creating apps and fuctional tech solutions tailored for innovative
      startups and entrepreneurs. </div>
    <p>Hi, I'm Mamello Moshoeshoe. I am a product designer with a strong foundation in frontend development. Over the
      years, I have gained valuable experience across various sectors, including finance, advertising, and small to
      medium enterprises.</p>
    <button>
      <span class="button-text">Start Designing Your App</span>
    </button>
    <div class="features">
      <span class="feature"><i class="fa fa-check-square-o" aria-hidden="true"></i>Mobile App Design</span>
      <span class="feature"><i class="fa fa-check-square-o" aria-hidden="true"></i>App Landing Page Design</span>
    </div>
  </div>
  <span class="banner-img">
    <img src="assets/images/banner-im.png">
  </span>
</section>
