.banner {
  background: black;
  color: white;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  @media(min-width: 1280px) {
    flex-direction: row;
  }

  &__copy {
    padding: 3em;

    @media(min-width: 1280px) {
      width: 50vw;
      padding: 3.5em 2em;
    }

    .heading {
      font-family: "Amaranth", serif;
      font-weight: 700;
      font-style: normal;
      font-size: 25px;
      padding: 0.5em 0em;
      line-height: 1.5;

      @media(min-width: 1280px) {
        font-size: 35px;
      }
    }

    p {
      font-size: 20px;
      line-height: 1.5;
      padding: 0 0 0.5em;
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }

    button {
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      padding: 0.7em;
      background: #630330;
      color: white;
      border: none;
      border-radius: 0.2em;
      margin: 2em 0;
      font-size: 1em;
      cursor: pointer;

    }

    .features {
      padding: 1em 0;
      display: flex;
      flex-direction: column;
      gap: 1.5em;
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 500;
      font-style: normal;

      @media(min-width: 1280px) {
        flex-direction: row;
      }

      .feature {

        .fa {
          color: #630330;
          padding-right: 0.2em;
        }
      }
    }
  }

  .banner-img img {
    width: 100%;
  }
}
