<section class="banner">
  <div class="banner__copy">
    <div class="heading">Designing App Ideas For Startups & Founders </div>
    <p>Hi, I'm Mamello Moshoeshoe. An entrepreneur, ui designer, frontend developer crafting user friendly solutions for
      startups and founders.</p>
    <button>Start Designing Your App</button>
    <div class="features">
      <span class="feature"><i class="fa fa-check-square-o" aria-hidden="true"></i>Mobile App Design</span>
      <span class="feature"><i class="fa fa-check-square-o" aria-hidden="true"></i>App Landing Page Design</span>
    </div>
  </div>
  <div class="banner-img">
    <img src="assets/images/banner-im.png">
  </div>
</section>
