<div class="benefits">
  <div class="benefit">
    <img src="assets/images/benefit1.jpg">
    <div class="heading">Designing for your audience</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend moie libero eu ornare. Sed gravida
      efficitur tortor motie</p>
  </div>
  <div class="benefit">
    <img src="assets/images/benefit1.jpg">
    <div class="heading">Designing for your audience</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend moie libero eu ornare. Sed gravida
      efficitur tortor motie</p>
  </div>
  <div class="benefit">
    <img src="assets/images/benefit1.jpg">
    <div class="heading">Designing for your audience</div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend moie libero eu ornare. Sed gravida
      efficitur tortor motie</p>
  </div>
</div>
