.benefits {
  display: flex;
  flex-direction: column;
  gap: 4em;
  padding: 4em;

  @media(min-width: 1280px) {
    flex-direction: row;
  }

  .benefit {
    display: flex;
    flex-direction: column;

    img {
      padding: 1em 0;
      width: 8vh;
    }

    .heading {
      font-weight: bold;
      font-size: 18px;
      padding: 0.5em 0 1em;
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    }

    p {
      line-height: 1.5;
      font-family: "Nunito Sans", serif;
      font-optical-sizing: auto;
      font-weight: 300;
      font-style: normal;
    }
  }
}
