<div class="benefits">
  <div class="benefit">
    <img src="assets/images/benefits/app.png">
    <div class="heading">Improved User Experience (UX).</div>
    <p>A well-designed user interface enables users to navigate and interact with the platform with greater ease.</p>
  </div>
  <div class="benefit">
    <img src="assets/images/benefits/branding.png">
    <div class="heading">Brand Consistency and Recognition.</div>
    <p>UI design plays a vital role in enhancing a brand's visual identity, making sure that users have a smooth experience across all the platforms they interact with.</p>
  </div>
  <div class="benefit">
    <img src="assets/images/benefits/time.png">
    <div class="heading"> Save money and time.</div>
    <p>A carefully planned design reduces the likelihood of having to revisit and modify or completely revamp features during development or after completion, ultimately saving both time and effort.</p>
  </div>
</div>
