.toolbar {
  background: black;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: space-between;
  padding: 2em;

  @media(min-width: 1024px) {
    flex-direction: row;
  }

  &__img {
    img {
      width: 10vh;
      padding-bottom: 1.5em;

      @media(min-width: 1280px) {
        padding-bottom: 0;
      }
    }
  }
}