<section class="faq-section">
    <div class="header">Get To Know Me</div>
    <!-- <div class="questions">
        <div class="question">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>help_outline</mat-icon>
                <span class="question-title"> What is your background?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>A landing page is a standalone page that is designed to maximize conversion rates. It is persuasive, focused
              on a specific offer that is often driven by specific marketing campaign.
            </p>
          </mat-expansion-panel>
        </div>
        <div class="question">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>help_outline</mat-icon>
                <span class="question-title"> What is the difference between a landing page and a website?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>A landing page is a single page that is focused on a specific offer. A landing page is designed to maximize
              conversion rates.
              While a website consists of multiple interconnected pages that cover various topics and serve multiple
              purposes.
            </p>
          </mat-expansion-panel>
        </div>
        <div class="question">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-icon>help_outline</mat-icon>
                <span class="question-title"> I already have a website, should I still get a landing page?</span>
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p>A landing page is specifically designed for your marketing efforts, whether it's for growing a mailing list,
              launching a new product, or something else.
              It removes distractions, keeping the visitors solely focused on that desired action, thereby increasing the
              chances of conversion.</p>
          </mat-expansion-panel>
        </div>
        </div> -->
</section>
